<!DOCTYPE html>
<html>
    <head>
        <title> Web App Light Contorl!</title>
        <a href=On><input type=”button” value="Lights On / Off"></a>
        <a href=BrightUp><input type=”button” value="BrightUp"></a>
        <a href=BrightDown><input type=”button” value="BrightDown"></a>
        <a href=White><input type=”button” value="White"></a>
        <a href=Color><input type=”button” value="Color"></a>
        <a href=ChangeColor><input type=”button” value="ChangeColor"></a>
        <a href=Sunrise><input type=”button” value="Sunrise"></a>
    </head>
</html>