<!DOCTYPE html>
<html>
    <head>
        <title> Web App Light Contorl!</title>
        <p>
            <a href=Bright><input type=”button” value="Brighten"></a>
            <a href=Dark><input type=”button” value="Dimmer"></a>
            <a href=On><input type=”button” value="On/Off"></a>
        </p>
        <p>
            <a href=Red><input type=”button” value="Red"></a>
            <a href=Green><input type=”button” value="Green"></a>
            <a href=Blue><input type=”button” value="Blue"></a>
            <a href=White><input type=”button” value="White"></a>
        </p>
        <p>
            <a href=Orange><input type=”button” value="Orange"></a>
            <a href=Lgreen><input type=”button” value="Light Green"></a>
            <a href=Lblue><input type=”button” value="Light Blue"></a>
            <a href=Ppink><input type=”button” value="Pale Pink"></a>
        </p>
        <p>
            <a href=Lorange><input type=”button” value="Light Orange"></a>
            <a href=Pblue><input type=”button” value="Pale Blue"></a>
            <a href=Purple><input type=”button” value="Purpple"></a>
        </p>
        <p>
            <a href=LLorange><input type=”button” value="Lighter Orange"></a>
            <a href=SkyBlue><input type=”button” value="Sky Blue"></a>
            <a href=Lpurple><input type=”button” value="Lighter Purpple"></a>
        </p>
        <p>
            <a href=Yellow><input type=”button” value="Yellow"></a>
            <a href=AMarine><input type=”button” value="Aqua Marine"></a>
            <a href=HPink><input type=”button” value="Hot Pink"></a>
        </p>
        <p>
            <a href=Jump7><input type=”button” value="Jump 7"></a>
            <a href=Fade7><input type=”button” value="Fade 7"></a>
        </p>
       
    </head>
</html>